/* Main container and image styling remains the same */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f5;
  text-align: center;
}

.title {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.image-container {
  position: relative;
  width: 80%; /* Default width for large screens */
}

.responsive-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.hyperlink {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.4rem;
}

.hyperlink1 {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.6rem;
}

/* Positioning the hyperlinks (do not change) */
.head-link {
  top: 8%;  
  right: 85%;
}

.neck-link {
  top: 17%; 
  right: 85%;
}

.thorax-link {
  top: 26.4%; 
  right: 85%;
}

.abdomen-link {
  top: 39.3%; 
  right: 85%;
}

/* Styling for the lines */
.line {
  position: absolute;
  height: 1px;
  background-color: #007bff;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
}


/* Label positions (do not change) */
.level1 {
  top: 38%; 
  left: 59%;
}

.level2 {
  top: 41.5%;
  left: 59%;
}

.level3 {
  top: 44.8%;
  left: 59%;
}

.level4 {
  top: 47.8%;
  left: 59%;
}

.level5 {
  top: 51%;
  left: 59%;
}

@media (min-device-width: 621px) and  (max-width: 820px) {
  .title {
    font-size: 2rem;
  }

  .image-container {
    width: 90%; /* Scale image container for medium screens */
  }

  .hyperlink {
    font-size: 0.3rem;
  }


  .level1 {
    top: 37.8%; 
    left: 64%;
  }
  
  .level2 {
    top: 41%;
    left: 64%;
  }
  
  .level3 {
    top: 52%;
    left: 64%;
  }
  
  .level4 {
    top: 57%;
    left: 64%;
  }
  
  .level5 {
    top: 60%;
    left: 64%;
  }

}


/* Responsive styles */
@media (min-device-width: 481px) and  (max-width: 620px) {
  .title {
    font-size: 2rem;
  }

  .image-container {
    width: 90%; /* Scale image container for medium screens */
  }

  .hyperlink {
    font-size: 0.8rem;
  }


  .level1 {
    top: 39%; 
    left: 82%;
  }
  
  .level2 {
    top: 45.5%;
    left: 82%;
  }
  
  .level3 {
    top: 54%;
    left: 82%;
  }
  
  .level4 {
    top: 62%;
    left: 82%;
  }
  
  .level5 {
    top: 68%;
    left: 82%;
  }

}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .image-container {
    width: 100%; /* Full width for small screens */
  }

  .hyperlink {
    font-size: 0.28rem;
  }

  .responsive-img {
    width: 70%; /* Image scales down for small screens */
  }

  .level1 {
    top: 28.5%; 
    left: 81%;
  }
  
  .level2 {
    top: 33.5%;
    left: 81%;
  }
  
  .level3 {
    top: 38.4%;
    left: 81%;
  }
  
  .level4 {
    top: 42.8%;
    left: 81%;
  }
  
  .level5 {
    top: 47.2%;
    left: 81%;
  }
}
