/* Container for images and annotations */
.level1-container-unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.level1-images-row-unique {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  flex-wrap: nowrap;
}

/* Image container */
.image-container {
  position: relative;
  width: 30%;
  margin: 0 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.responsive-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for images */
.hover-img:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}

/* Annotation styling */
.annotation {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.6rem;
  white-space: nowrap;
  cursor: pointer;
}

.annotation:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.7rem;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.annotation::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

/* Back and forward icons */
.back-icon, .forward-icon {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  margin: 0px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.back-icon:hover, .forward-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}

.back-icon:active, .forward-icon:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Toggle button styling */
.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.toggle-button img {
  width: 40px;
  height: auto;
}

/* Responsive Design */

/* For medium screens (tablets and smaller) */
@media (max-width: 1024px) {
  .level1-images-row-unique {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 80%;
    margin: 10px 0;
  }

  /* Place icons on top of the first image */
  .back-icon, .forward-icon {
    position: absolute;
    top: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    font-size: 2rem;
  }

  /* Back icon on the left */
  .back-icon {
    left: 0px;
  }

  /* Forward icon on the right */
  .forward-icon {
    right: 10px;
  }
}

/* For small screens (phones and smaller tablets) */
@media (max-width: 768px) {
  .image-container {
    width: 100%;
  }

  .back-icon, .forward-icon {
    font-size: 2.5rem;
  }

  .annotation {
    font-size: 0.5rem;
  }
}

/* For extra small screens (phones) */
@media (max-width: 480px) {
  .image-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .toggle-button {
    margin-bottom: 10px;
  }

  .annotation {
    font-size: 0.4rem;
  }

  .back-icon, .forward-icon {
    font-size: 3rem;
  }
}

/* Example positions for annotations */
.annotation-1_00 {
  top: 53%;
  left: 49%;
}

.annotation-1_01 {
  top: 70%;
  left: 77%;
}

.annotation-1_1 {
  top: 10%;
  left: 53%;
}

.annotation-1_2 {
  top: 13%;
  left: 32%;
}

.annotation-1_3 {
  top: 48%;
  left: 49%;
}

.annotation-1_4 {
  top: 81%;
  left: 50%;
}

.annotation-1_5 {
  top: 57%;
  left: 88%;
}

.annotation-1_6 {
  top: 23%;
  left: 62%;
}

.annotation-1_7 {
  top: 18%;
  left: 30%;
}

.annotation-1_8 {
  top: 45%;
  left: 52%;
}

.annotation-1_9 {
  top: 73%;
  left: 53%;
}

.annotation-1_10 {
  top: 67%;
  left: 73%;
}
